.app {
  height: 100%;
  z-index: 1;
  &__title {
    animation: show 2s forwards;
    opacity: 0;
    display: flex;
    flex-direction: column;
    grid-row: 2;
    grid-column: 2;
    align-self: flex-end;
    justify-self: flex-start;
    height: 10vh;
    width: auto;
    margin-left: 0rem;
    cursor: pointer;
    margin-bottom: 3%;
    transition: all 0.5s;
    z-index: 1;
    @media (max-width: $breakpointXL) {
      justify-self: center;
      height: min-content;
      margin-bottom: -1%;
    }
    &:hover {
      transform: scale(1.04);
      //text-shadow: -1px 1px 2px ;
    }
    &:active {
      transform: scale(1);
    }

    & h1 {
      font-size: 4vw;
      margin-bottom: -0.5rem;
      @media (max-width: $breakpointXL) {
        display: none;
      }
    }
    &-return {
      @include flex-center;
      font-size: 2vh;
      @media (max-width: $breakpointXL) {
        font-size: 4vh;
      }
    }
  }

  &__intro {
    @include flex-center;

    grid-row: 2;
    grid-column: 2;

    height: 100%;
    width: auto;
    margin-left: 0rem;

    & h1 {
      cursor: pointer;
      font-size: 6vw;
      margin-bottom: -0.5rem;
    }
  }
}
