.app {
    height: 100%;

    &__title {
        display: flex;
        flex-direction: column;
        grid-row: 2;
        grid-column: 2;
        align-self: flex-end;
        height: 10rem;
        width: 18rem;
        margin-left: 0rem;
        cursor: pointer;
        margin-bottom: -1REM;
        & h1 {
            font-size: 5rem;
            margin-bottom: -1rem;
        }
    }
}