.yoyo {
    grid-row: 2;
    grid-column: 2;
    &__title {
        @include flex-center;
        border: 2px solid $color-black;
        height: 60%;
        width: 70%;
        border-radius: 50%;
        opacity: 0;
        font-size: 150%;
        justify-self: flex-end;
        margin-right: -5%;
        background-color: $color-white;
        animation: bump 1s forwards;
        animation-delay: 1.2s;
    }
    &__description {
        grid-row: 2;
        grid-column: 1;
        align-self: center;
        max-height: 10rem;
        margin-right: 2rem;
        & p {
            opacity: 0;
            animation: show 6s forwards;
            animation-delay: 1.2s;
            font-size: 1.8vh;
            text-align: right;
            
        }
    }
    
}