.grid_main {
    display: grid;
    grid-template-rows: 10vh 1fr 12vh;
    grid-template-columns: 
                [full-start] 
                14vw 
                [center-start] 
                1fr
                [center-end] 
                14vw 
                [full-end]; 
} 
.grid_12x12 {
    display: grid;
    grid-template-rows: repeat(12, 6.5vh);
    grid-template-columns: repeat(12, 6vw);
}
.grid_2x3 {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: repeat(3, 1fr);
}
.grid_10x10 {
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(10, 10%);
}
//    grid-template-columns: 
//    [full-start] 
//    10vw 
//    [center-start] 
//    repeat(12, [col-start] 1fr[col-end])
//    [center-end] 
//    10vw 
//    [full-end]; // every collumn will be either min con or 14 rem max
   